@model Bewander.ViewModels.ImageViewModel
@using Microsoft.AspNet.Identity

@helper photos()
{
int i = 0;
	<!-- A form for adding photo files and a submit button -->
	if ((string)(Session["Reviews"]) == "self")
	{
		<div class="fileinput fileinput-new" id="imageField" data-provides="fileinput" style="margin-top:30px">
			<span class="btn btn-default btn-file"><span id="file_name"></span><input id="fileUpload"type="file" /></span>

			<span class="fileinput-filename" name="Image" accept="image/*" data-multiple-caption="{count} Photos " for="postPhoto"></span><span class="fileinput-new"></span>

			<button id="btnUploadFile" type="submit" class="btn btn-success" for="postPhoto">Add Photo</button>

		</div>
	}
	<p>&nbsp;</p>

    <ul id="photo-list">
        @foreach (var item in Model.Images)
		{
			if (item.FileType != Bewander.Models.FileType.RentedCoverPhoto)
			{
				<div class="col-12 col-sm-3">
					<img src="~/Images/@item.UserID/@item.Path" alt="@item.FileName" 
						 href="#lightbox" data-toggle="modal" data-slide-to="@i" class="img-thumbnail user-photos fellowWanderProfilePic" style=" margin-bottom: 30px;">
				</div>
                @*<li class="user-photo-container">
                    <img src="~/Images/@item.UserID/@item.Path" class="user-photos" alt="" href="#lightbox" data-toggle="modal" data-slide-to="@i" />
                </li>*@
			i++;
		}
		
		


		}
        <br />

    </ul>
}<!--End Helper-->

<div id="profile-photos" class="tab-pane" role="tabpanel">
	@*@if ((string)(Session["Reviews"]) == "self")
	{
		<div class="row text-center">
			<div class="fileinput fileinput-new" id="imageField" data-provides="fileinput" style="margin-top:30px; margin-bottom: 30px;">
				<span class="btn btn-default btn-file"><input id="postPhoto" type="file"/></span>
				<span class="fileinput-filename" name="Image" accept="image/*" data-multiple-caption="{count} Photos " for="postPhoto"></span><span class="fileinput-new"></span>
				<button type="submit" class="btn btn-success" for="postPhoto">Add Photo</button>
			</div>
		</div>
	}*@
	
    <div class="row" style="position: inherit; z-index:1">
        <div class="col-sm-12 text-center" style="position:inherit; z-index:1">
            @photos()
        </div>
    </div>
	<!--This is the modal: place this where ever-->
	@{ Html.RenderAction("_PhotoLightBox", "Users", Model.UserID);
	}
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*@Scripts.Render("~/bundles/postInteractions")*@
<script>
        var inputs = document.querySelectorAll('.input-file');
        Array.prototype.forEach.call(inputs, function (input) {
            var label = input.nextElementSibling,
                labelVal = label.innerHTML;

            input.addEventListener('change', function (e) {
                var fileName = '';
                if (this.files && this.files.length > 1)
                    fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                else
                    fileName = e.target.value.split('\\').pop();
                console.log("filename: ",fileName);
                if (fileName)
                    label.querySelector('span').innerHTML = fileName;
                else
                    label.innerHTML = labelVal;
            });
        });
</script>
<script>
$(document).ready(function () {

   $('#btnUploadFile').on('click', function () {
   	  
      var data = new FormData();

      var files = $("#fileUpload").get(0).files;

      // Add the uploaded image content to the form data collection
      if (files.length > 0) {
           data.append("postPhoto", files[0]);
      }

   	// Make Ajax request with the contentType = false, and procesDate = false

      var ajaxRequest = $.ajax({
           type: "POST",
           url: "/Users/PostPhoto",	
           async: false,
		   cache: false,
           contentType: false,
           processData: false,
           data: data
           });

      ajaxRequest.done(function (xhr, textStatus) {
      	
      	$("#profile-photos").load("/Users/_Photos?userID=");
      	
		
             });
   });
});
</script>
